<div class="navbar">
  <div class="logo">
    Test Store
  </div>
  <div class="links">
    <a class="link" href="/">
      Create Transactions
    </a>

    <a class="link" href="/history">
      Previous Transactions
    </a>
  </div>
</div>
