<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://js.braintreegateway.com/web/3.55.0/js/client.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <!-- <link rel='stylesheet' href='/css/styles.css' /> -->
  </head>
  <body>
    <div class="container">
      {{> navbar }}

      <div class="main">
        {{{ body }}}
      </div>

      {{> footer }}
    </div>
  </body>
</html>
