<h1>Transaction History</h1>

<p>
  <table id="txn-table" class="table table">
    <thead class= "thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Customer Name</th>
      </tr>
    </thead>
    <tbody>
      <tr id="table-contents">
        <th scope="row">1</th>
      </tr>
    </tbody>
  </table>
</p>
<script>

  dbTxnHistory.orderBy('timestamp', 'asc').onSnapshot((snapshot) => {
    snapshot.forEach((doc) => {
      const id = doc.data().id
      const amount = doc.data().amount
      const status = doc.data().status
      const firstName = doc.data().firstName
      const lastName = doc.data().lastName
      console.log(amount)
      })
    })

</script>
