 <h1>Transaction History</h1>

<p>
  <table id="txn-table" class="table table">
    <thead class= "thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Customer Name</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</p>
<script>

  dbTxnHistory.orderBy('timestamp', 'desc').limit(10)
    .get()
    .then(function(querySnapshot) {
    querySnapshot.forEach((doc) => {
      const id = doc.data().id
      const amount = doc.data().amount
      const status = doc.data().status
      const firstName = doc.data().firstName
      const lastName = doc.data().lastName

      $('#txn-table > tbody:last-child')
       .append(
        `<tr id="table-contents">
         <th>${id}</th>
         <td>${amount}</td>
         <td>${status}</td>
         <td>${firstName} ${lastName}</td>
        <td>
        </tr>`
       )
    });
});

</script>
